* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hover_underline {
    text-decoration: none;
    color: #878787;
}

.hover_underline:hover {
    text-decoration: underline;
}

.hover_change_color_white:hover {
    color: white;

}

.hover_change_color_white:hover .side_bar_menu_list_item_svg {
    color: white;
}

.hover_change_color_white:hover .side_bar_menu_list_item_link_title {
    color: white;
}


  
.total_container {
    height: 100vh;
    width: 100%;
}

/*------------ Inizio upper container classes -------------*/

.upper_container {
    /* border: 1px dotted red; usata per visualizzare se funziona */
    height: calc(100vh - 80px);
    display: flex;
}

.upper_container_box {
    /* border: 1px solid cornflowerblue; usata per visualizzare se funziona */
    height: calc(100vh - 80px);
}

/* Inizio side bar classes */

.side_bar_container {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.side_bar_menu_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-shrink: 0;
    height: 210px;
    /* height: 10px; usata per visualizzare se funziona */
}

.side_bar_menu_logo {
    /* border: 1px solid pink; usata per visualizzare se funziona */

    /* height: 50px; usata per visualizzare se funziona */
    width: 80%;
}

.side_bar_menu_logo_spotify_entire {
    padding: 14px 8px;

    /* display: none; */
}

.side_bar_menu_logo_spotify_small {
    padding: 8px 10px;

    display: none;
}

.side_bar_menu {
    /* border: 1px solid pink; usata per visualizzare se funziona */

    /* height: 50px; usata per visualizzare se funziona */
}

.side_bar_menu_list {
    list-style: none;
    padding-left: 8px;
}



.side_bar_menu_list_item {
    /* border: 1px solid yellow; usata per visualizzare se funziona */

   /* height: 10px; usata per visualizzare se funziona */
}

.side_bar_menu_list_item {
    padding: 3px 0;
}

.side_bar_menu_list_item_home {
    margin-left: -8px;
    padding-top: 5px;
    padding-left: 5px;
    border-left: 3px solid #ADFF2F;       
}

.side_bar_menu_list_item_link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.side_bar_menu_list_item_svg_container {
    display: inline-block;
    width: 30px;
    flex-shrink: 0;
}

.side_bar_menu_list_item_svg {
    color: #878787;
}

.side_bar_menu_list_item_svg_home {

}

.side_bar_menu_list_item_link_title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    flex-shrink: 0;
    color: #878787;

    /* display: none; */
}


.side_bar_menu_list_item_link_active_title {
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    flex-shrink: 0;
    color: white;

    /* display: none; */
}

.side_bar_playlists_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-grow: 1;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 6px;
    height: calc(100% - 210px - 120px);
    overflow-y: hidden;
}

.side_bar_playlists_creation {
    height: 66px;
}

.side_bar_playlists_creation_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: white;
    padding-bottom: 10px;
}

.side_bar_playlists_creation_button {
    text-decoration: none;
    color: #878787;
    display: flex;
    align-items: center;
}

.side_bar_playlists_creation_button_icon {
    font-size: 40px;
    flex-shrink: 0;
}

.side_bar_playlists_creation_button_text {
    font-size: 13px;
    flex-shrink: 0;
    padding-left: 10px;
    font-weight: 700;
}

.side_bar_playlists {
    height: calc(100% - 66px);
    overflow-y: auto;
}

.side_bar_playlists_list {
    list-style: none;
    padding: 7px 0 5px;
    max-height: 200px;
}

.side_bar_playlists_list_item {
    padding: 0 0 12px;
}

.side_bar_playlists_last_list_item {
    padding: 0;
}

.side_bar_playlists_list_item_title {
    color: #878787;
    padding: 5px;
    margin-left: -5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.side_bar_user_options_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-shrink: 0;
    padding: 0 8px;
    height: 120px;
    /* height: 10px; usata per visualizzare se funziona */
}

.side_bar_user_options_install_button_container {
    width: 100%;
    border-bottom: 1px solid #878787;
    padding: 12px 0 4px;
}

.side_bar_user_options_install_button {
    text-decoration: none;
    color: #878787;
    padding: 12px 8px;
    margin-left: -8px;
    display: flex;
    align-items: center;
}

.side_bar_user_options_install_button_icon {
    font-size: 18px;
}

.side_bar_user_options_install_button_text {
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
}

.side_bar_user_options_profile_container {
    width: 100%;
    padding: 12px 0 12px;
}

.side_bar_user_options_profile {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.side_bar_user_options_profile_icon {
    font-size: 36px;
    color: #878787;
}

.side_bar_user_options_profile_name {
    font-size: 13px;
    font-weight: 800;
    padding-left: 10px;
}

/* Fine side bar classes */

/* Inizio all music classes */

.all_music_container {
    flex-grow: 1;
    background-color: #141922;
    overflow-y: hidden;
}

.all_music_upgrade_container {
    background-color: #080b12;
    padding-top: 28px;
    padding-bottom: 36px;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
    height: 83px;
}

.all_music_upgrade_button {
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.all_music_upgrade_button:hover {
    font-size: 12.5px;
    padding: 9px 20px;
    border-radius: 21px;
}

.all_music_page_container {
    height: calc(100% - 83px);
    overflow-y: auto;
}

.all_music_page_links_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 10px;
}

.all_music_page_link {
    text-decoration: none;
    color: #878787;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    flex-shrink: 0;
    padding: 6px;
}

.all_music_page_link_active {
    position: relative;
}

.all_music_page_link_active::after {
    content: "";
    display: block;
    width: 30%;
    height: 4px;
    background-color: #ADFF2F;
    position: absolute;
    bottom: -4px;
    left: 35%;
}

.all_music_albums_container {

}

.all_music_recently_played_container {
    padding: 24px 12px 10px;
}

.all_music_recently_played_title {
 color: white;
 font-weight: 800;
 font-size: 20px;
}

.exposition_cards_container {
    width: 100%;
    padding: 20px 0;
    display: flex;
    row-gap: 40px;
    column-gap: 20px;
    flex-wrap: wrap;
}

.exposition_card {
    width: calc(100% / 2 - 10px);
    flex-shrink: 1;
    text-align: center;
}

.exposition_card_image_container {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    position: relative;
}

.exposition_card_hover_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 48px;
    padding: 12px;
    display: none;
}

.exposition_card_hover_icon {
    
}

.exposition_card_image_container:hover::after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
}

.exposition_card_image_container:hover .exposition_card_hover_play {
    display: inline-block;
    z-index: 3;
}

.exposition_card_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.exposition_card_title {
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.exposition_card_artist {
    color: #878787;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.all_music_created_for_you_container {
    padding: 14px 12px 10px;
}

.all_music_created_for_you_main_title {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.all_music_created_for_you_subtitle {
    color: #878787;
    font-weight: 600;
    font-size: 13px;
}

.all_music_artists_container {
    padding: 14px 12px 10px;
}

.all_music_artists_main_title {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.all_music_artists_subtitle {
    color: #878787;
    font-weight: 600;
    font-size: 13px;
}

.artists_card_image_container {
    border-radius: 50%;
}

.artists_card_image_container:hover::after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 4px;
    right: 0;
}

.artists_card_image {
    border-radius: 50%;
}


/* Fine all music classes */
/*----------- Fine upper container classes -------------*/

/* Inizio bottom play bar classes */

.bottom_play_bar_container {
    /* border: 1px dotted red; usata per visualizzare se funziona */
    flex-shrink: 0;
    display: flex;
    background-color: #282828;
    height: 80px;
    width: 100%;
    padding: 4px 14px;
    position: relative;
    z-index: 99;
    overflow-y: hidden;
    overflow-x: auto;
}

.bottom_play_bar_box {
    /* border: 1px solid cornflowerblue; usato per visualizzare se funziona */
    /* height: 100%; */
}

.bottom_play_bar_song_informations {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.bottom_play_bar_song_informations_cover {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.bottom_play_bar_song_informations_cover_img_container {
    height: 100%;
    padding: 6px;
}

.bottom_play_bar_song_informations_cover_img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.bottom_play_bar_song_informations_cover_text {

}

.bottom_play_bar_song_informations_cover_text_title {
    color: white;
    font-size: 13.5px;
}

.bottom_play_bar_song_informations_cover_text_artist {
    font-size: 10px;
    text-decoration: none;
}

.bottom_play_bar_song_informations_favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.bottom_play_bar_song_informations_favorites_button {
    padding: 3px;
    text-decoration: none;
    flex-shrink: 0;
    color: #878787;
    font-size: 16px;
}

.bottom_play_bar_song_informations_favorites_button_icon {

}

.bottom_play_bar_song_options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bottom_play_bar_song_options_player {
    padding-top: 8px;
}

.bottom_play_bar_song_options_player_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4px;
}

.bottom_play_bar_song_options_player_list_item {

}

.bottom_play_bar_song_options_player_list_item_button {
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: 16px;
}

.bottom_play_bar_song_options_player_list_item_button_icon {

}

.bottom_play_bar_song_options_player_list_item_main_button {
    text-decoration: none;
    color: white;
    padding: 4px 6px;
    font-size: 24px;
}

.bottom_play_bar_song_options_player_list_item_main_button:hover {
    font-size: 26px;
}

.bottom_play_bar_song_options_player_list_item_main_button_icon {

}

/* Inizio Song options time */

.bottom_play_bar_song_options_time {
    padding: 0 4px;
}

.bottom_play_bar_song_options_time_list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding-top: 12px;
}

.bottom_play_bar_song_options_time_list_item {

}

.bottom_play_bar_song_options_time_list_item_now {
    flex-shrink: 0;
}

.bottom_play_bar_song_options_time_list_item_now_time {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 0;
}

.bottom_play_bar_song_options_time_list_item_progress_bar {
    flex-grow: 1;
    max-width: 440px;
    padding: 8px 0;
}

.bottom_play_bar_song_options_time_list_item_progress_bar_growth {
    height: 4px;
    width: 100%;
    background-color: #5A5A5A;
    border-radius: 6px;
    position: relative;
}

.bottom_play_bar_song_options_time_list_item_progress_bar_growth_now {
    width: 9.09%;
    height: 100%;
    border-radius: 6px;
    background-color: #C1C1C1;
}

.bottom_play_bar_song_options_time_list_item_progress_bar:hover .bottom_play_bar_song_options_time_list_item_progress_bar_growth_now{
    background-color: #ADFF2F;
}

.bottom_play_bar_song_options_time_list_item_progress_bar_growth_circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 9.09%;
    transform: translate(-50%, -50%);
    display: none;
}

.bottom_play_bar_song_options_time_list_item_progress_bar:hover .bottom_play_bar_song_options_time_list_item_progress_bar_growth_circle {
    display: block;
}

.bottom_play_bar_song_options_time_list_item_end {
    flex-shrink: 0;
}

.bottom_play_bar_song_options_time_list_item_end_time {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 0;
}

.bottom_play_bar_spotify_options {
    flex-shrink: 0;
    display: flex;
}

.bottom_play_bar_spotify_options_list {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    list-style: none;
    align-items: center;
    width: 100%;
}

.bottom_play_bar_spotify_options_list_item {
    padding: 3px;
}

.bottom_play_bar_spotify_options_list_item_button {
    padding: 3px;
    text-decoration: none;
    color: #878787;
    font-size: 16px;
}

.bottom_play_bar_spotify_options_list_item_button_icon {

}

.bottom_play_bar_spotify_options_list_item_volume_bar {
    max-width: 80px;
    min-width: 50px;
    padding: 8px 4px;
}

.bottom_play_bar_spotify_options_list_item_volume_bar_growth {
    height: 4px;
    width: 100%;
    background-color: #5A5A5A;
    border-radius: 6px;
    position: relative;
}

.bottom_play_bar_spotify_options_list_item_volume_bar_growth_now {
    width: 25%;
    height: 100%;
    border-radius: 6px;
    background-color: #C1C1C1;
}

.bottom_play_bar_spotify_options_list_item_volume_bar:hover .bottom_play_bar_spotify_options_list_item_volume_bar_growth_now {
    background-color: #ADFF2F;
}

.bottom_play_bar_spotify_options_list_item_volume_bar_growth_circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: none;
}

.bottom_play_bar_spotify_options_list_item_volume_bar:hover .bottom_play_bar_spotify_options_list_item_volume_bar_growth_circle {
    display: block;
}

/* Fine bottom play bar classes */

/* Media Queries */

@media screen and /* (min-width: 480px) and  */(max-width: 600px) {
    .side_bar_menu_logo {
        width: 100%;
    }
    
    .side_bar_menu_logo_spotify_small {
        display: block;
    }

    .side_bar_menu_logo_spotify_entire,
    .side_bar_menu_list_item_link_title,
    .side_bar_menu_list_item_link_active_title,
    .side_bar_playlists_creation,
    .side_bar_playlists,
    .side_bar_user_options_install_button_text,
    .side_bar_user_options_profile_name {
        display: none;
    }

    .side_bar_user_options_install_button_container {
        border-bottom: none;
    }

    .side_bar_container {
        width: 60px;
    }

    .side_bar_menu_list {
        padding-top: 8px;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side_bar_menu_list_item_home {
        margin-left: 0;
        padding-top: 5px;
        padding-left: 0;
        border: none;       
    }

    .side_bar_menu_list_item_svg_home {
        padding-bottom: 5px;
    } 

    .side_bar_menu_list_item_svg:hover {
        fill: white;
    }

    .side_bar_user_options_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side_bar_user_options_install_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 15px;
    }

    .side_bar_user_options_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
    }

    .side_bar_user_options_profile_icon:hover {
        color: white;
    }

    .bottom_play_bar_song_informations_favorites,
    .bottom_play_bar_spotify_options_list_item:nth-child(1),
    .bottom_play_bar_spotify_options_list_item:nth-child(2),
    .bottom_play_bar_spotify_options_list_item_volume_bar {
        display: none;
    }

    .bottom_play_bar_song_informations_cover_img_container {
        width: 40%;
    }

    .bottom_play_bar_song_informations_cover_img {
        width: 100%;
    }

    .bottom_play_bar_song_informations_cover_text {
        margin-left: -10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .exposition_card {
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (min-width: 768px) {
    .exposition_card {
        width: calc(100% / 6 - 16.7px);
    }
}