* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  
.total_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/*------------ Inizio upper container classes -------------*/

.upper_container {
    /* border: 1px dotted red; usata per visualizzare se funziona */
    flex-grow: 1;
    display: flex;
}

.upper_container_box {
    /* border: 1px solid cornflowerblue; usata per visualizzare se funziona */
}

/* Inizio side bar classes */

.side_bar_container {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.side_bar_menu_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-shrink: 0;

    /* height: 10px; usata per visualizzare se funziona */
}

.side_bar_menu_logo {
    /* border: 1px solid pink; usata per visualizzare se funziona */

    /* height: 50px; usata per visualizzare se funziona */
}

.side_bar_menu {
    /* border: 1px solid pink; usata per visualizzare se funziona */

    /* height: 50px; usata per visualizzare se funziona */
}

.side_bar_menu_list {
    list-style: none;
}

.side_bar_menu_list_item {
    /* border: 1px solid yellow; usata per visualizzare se funziona */

   /* height: 10px; usata per visualizzare se funziona */
}

.side_bar_menu_list_item_link {

}

.side_bar_menu_list_item_link_icon {

}

.side_bar_menu_list_item_link_title {

}

.side_bar_playlists_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-grow: 1;
}

.side_bar_playlists_creation {

}

.side_bar_playlists {

}

.side_bar_playlists_list {
    list-style: none;
}

.side_bar_playlist_list_item {

}

.side_bar_playlists_list_item_title {
    color: #878787;
}

.side_bar_user_options_container {
    /* border: 1px solid greenyellow; usata per visualizzare se funziona */
    flex-shrink: 0;

    /* height: 10px; usata per visualizzare se funziona */
}

/* Fine side bar classes */

/* Inizio all music classes */

.all_music_container {
    flex-grow: 1;
    background-color: #141922;
}

.all_music_upgrade_container {
    background-color: #080b12;
    padding-top: 28px;
    padding-bottom: 36px;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
}

.all_music_upgrade_button {
    padding: 8px 32px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.all_music_page_links_container {

}

.all_music_recently_played_container {

}

/* Fine all music classes */
/*----------- Fine upper container classes -------------*/

/* Inizio bottom play bar classes */

.bottom_play_bar_container {
    /* border: 1px dotted red; usata per visualizzare se funziona */
    flex-shrink: 0;
    display: flex;
    background-color: #282828;
}

.bottom_play_bar_box {
    /* border: 1px solid cornflowerblue; usato per visualizzare se funziona */
    height: 80px;
    width: 100%;
}

/* Fine bottom play bar classes */



















/* Media Queries */

/* @media screen and (min-width: 576px) and (max-width: 767px) {
    .class {
        attribute: ;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .class {
        attribute: ;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .class {
        attribute: ;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .class {
        attribute: ;
    }
}

@media screen and (min-width: 1400px) {
    .class {
        attribute: ;
    }
}
 */